body {
	background: black;
}

p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
/*I hate CSS*/
#sentence-box {
	background: white;
    	color: black;

	padding: 2em;
	max-width: 400px;
	border-radius: 2em;
	
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%)
}

#sentence{
	overflow-x: scroll;
	font-size: 2em;
}

