#sentence-box {
	background: red;
	background: black;
    color: white;

    padding: 1em;
    max-width: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sentence{
	overflow-x: scroll;
}