#sentence-box {
	background: red;
	background: black;
    color: white;

    padding: 1em;
    max-width: 400px;
    border-radius: 2em;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#sentence{
	overflow-x: scroll;
	font-size: 2em;
}

#generate-button{
    background: white;
    padding: 10px 20px;
    border-radius: 8px;
    
    font: normal 16px/normal "chivo", Helvetica, sans-serif;
    
    position: absolute;
    top: 50%
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
